.home {

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;
    }
  }
}// home
header{
  margin-top:1%;
  padding-bottom:2.5%;
  padding-top:1%;
  border-bottom: 2px dashed @silver;
  height: 5%;

  
  .displayFlex(space-around, center);
  nav{
    font-size: 1.5rem;
    .displayFlex(space-between, flex-start);
    width: 50%;

  }
  @media @mobile{
    display: flex;
    flex-wrap: wrap;
  }
}
body{
  @media @mobile{
    margin-left: 3%;
    margin-right: 3%;
  }
}
.content-destination{
  @media @mobile{
    border-top: 2px dashed silver;
    border-bottom: 2px dashed silver;
    padding: 4% 0%;
    img{
      border-radius: 10px;
    }
  }
}
.content-pick{
  padding-bottom: 5%;
  .destination{
    @media @mobile{
      padding-top: 5%;
    }
  }
  @media @mobile{
    padding-right:10%;
    padding-left:10%;
    
  }
}
.content-section{
  @media @mobile{
    img{
      border-radius: 10px;
    }
    padding-bottom: 5%;
  }
}

